@import url('../../02/css/styles.css');

:root {
    --primary: #28aeec;   --primary-hover: #55c3f7;   --primary-active: #3899d1;
    --secondary: #f5f5f5; --secondary-hover: #fff;    --secondary-active: #f3f3f3;
    --success: #d74869;   --success-hover: #f75178;   --success-active: #a63750;
    --info: #17a2b8;      --info-hover: #2f96b4;      --info-active: #31b0d5;
    --warning: #e8a917;   --warning-hover: #e7b236;   --warning-active: #c89214;
    --danger: #dc3545;    --danger-hover: #bd362f;    --danger-active: #c9302c;

    --visited-link-color: #9267bc;
}

/* Generic backgrounds */
.fc-unthemed .fc-event,
.fc-unthemed .fc-event-dot,
.fc-unthemed .booking-fullcalendar-flag {
    background: var(--primary);
    color: #fff;
}

@media screen and (min-width: 768px) {
    .booking-fullcalendar.fc-unthemed .fc-event[data-booked="true"] {
        background: var(--primary);
        color: #fff;
    }
}

.user-tools .user-tools-icon {
    color: var(--primary);
}

.user-tools a:hover .user-tools-icon {
    color: var(--primary-hover);
}

.user-tools a:active .user-tools-icon {
    color: var(--primary-active);
}

.user-tools .dropdown-toggle:after {
    border-top-color: var(--primary);
}

/* Buttons */
.btn.btn-header-action {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: #fff;
}

.btn.btn-header-action:hover,
.btn.btn-header-action:active {
    background: #fff;
    color: var(--primary);
}

.btn.view-website-btn {
    background: var(--success);
    border-color: var(--success);
    color: #fff;
}

.btn.view-website-btn:hover {
    background: var(--success-hover);
    border-color: var(--success-hover);
    color: #fff;
}

.btn.view-website-btn:active,
.btn.view-website-btn:active:focus {
    background: var(--success-active);
    border-color: var(--success-active);
    color: #fff;
}

/* Header */
.usermenu-item,
.user-tools > li {
    border: solid #e2e2e2;
    border-width: 0 1px 0 0;
}

.user-tools-wrapper .usermenu-item {
    border-width: 0 0 0 1px;
}

.user-tools > li:last-child {
    border-right: none;
}

@media screen and (min-width: 768px) {
    .navigation-menu {
        background: #f5f5f5;
        border-bottom: 1px solid var(--primary);
        color: var(--primary);
    }

    .mobile-menu-toggle {
        color: var(--primary);
    }

    .usermenu-wrapper .dropdown-toggle {
        color: inherit;
    }
}

.dashboards-dropdown-btn.dropdown-toggle {
    color: var(--primary);
}

/* Sidebar */
.sidebar-logo img {
    max-height: none;
    max-width: 220px;
}

.mobile-menu-list li > a:hover .svg-sprite,
.mobile-menu-list li.active > a .svg-sprite {
    fill: #fff;
}

/* Login form */
.login-form-container .modal-header {
    background: #f3f3f3;
    color: var(--primary);
}

.login-form-container .client-logo {
    height: 60px;
}

.login-form-container .nav-tabs > li > a {
    color: #929292;
}

.login-form-container .nav-tabs > li > a:hover,
.login-form-container .nav-tabs > li.active > a {
    color: var(--success);
}

.page-container ~ hr {
    margin-bottom: 0;
}