@import url(https://fonts.googleapis.com/css?family=Jura:400,300,500,600);
body {
    font-family: 'Myriad Pro', Myriad, Helvetica, Ariel, sans-serif;
    background: url(../images/background.jpg) fixed top center no-repeat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

[id="ct"] a:link {
    color: #1f4894;
}

[id="ct"] a:hover {
    text-decoration: underline;
}

.content p, .products p, #latest-news p {
    margin: 1em 0;
}

.content h1, .products h1, #latest-news h1 {
    border-bottom: 1px dotted #000;
    color: #1f4894;
}

.content h2, .products h2, #latest-news h2 {
    color: #1f4894;
}

.content h3, .products h2, #latest-news h3 {
    color: #1f4894;
}

.content ul > li:before, .content ol > li:before, .formrt legend, #breadcrumb-nav .delimiter {
    color: #1f4894;
}

#ct #breadcrumb-nav a {
    color: #1f4894;
    text-decoration: none;
}

#container {
    background: none;
}

#main {
    background: #FFF;
}

/* HEADER */
#header {
    background: #FFF url('../images/header_bg.png') 105px 0 no-repeat;
}

[id="header_slogan"] {
    color: #69A9DF;
    font-family: Jura, Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    letter-spacing: .175em;
}
[id="header_slogan"] strong,
[id="header_slogan"] b {
    color: #1f4894;
    font-weight: bolder;
    -webkit-text-stroke: 1px;
}

.header-options {
    float: right;
    padding: 1.5rem 1.5rem 0 0;
    position: relative;
    width: 290px;
    z-index: 1;
}
.header_social,
.mini_cart_wrapper {
    float: right;
}

.header_social img{
    display: inline-block;
    margin-left: .1em;
    max-height: 23px;
}

#header_logo{
    float: left;
}
#header_logo img {
    width: 155px;
    margin: 8px 30px;
}

.content img,
.content iframe {
    max-width: 100%;
    height: auto !important;
}

@media screen and (max-width: 550px)
{
    #header {
        background-position: center top;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
    #header_logo {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
    }
    .header-options {
        width: 280px;
        margin: auto;
    }
}

@media screen and (min-width: 960px)
{
    [id="header_slogan"] {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 767px) {
    [id="header_slogan"] {
        clear: both;
        padding: .5em;
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    [id="header_slogan"] {
        position: relative;
        top: 1em;

    }
}

/* MAIN MENU */
#main_menu {
    background: #347DCB;
    font-size: 1.5em;
    min-height: 34px;
}

#main_menu a {
    color: #FFF;
}
.main li {
    position: relative;
}

#main_menu .level_1 > a {
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 6px 20px;
    white-space: nowrap;
}

#main_menu ul li:hover a {
    background-color: #6AAADD;
}

#main_menu > ul > li:hover > ul {
    top: 36px;
}

#main_menu ul ul li:hover a {
    background: #024a8a;
}


@supports (-webkit-justify-content: space-around) or (-ms-flex-pack: distribute) or (justify-content: space-around) {
    .main {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .main > li {
        width: 100%;
    }
}

.main > li > a {
    font-family: Jura, Helvetica, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

@media screen and (min-width: 960px)
{
    .main > li {
        background: linear-gradient(#4C81D1 0%, #141D6B 100%);
    }
}

/* LEFT PANEL */
.specials_offers {
    background: #75A7DD -webkit-linear-gradient(#75A7DD, #2E5D9A);
    background: #75A7DD linear-gradient(#75A7DD, #2E5D9A);
    color: #fff;
    height: 33px;
}
.products_menu + .specials_offers {
    display: none;
}

.specials_offers a {
    color: #fff;
}

.panel_body {
    position: relative;
}

.panel_image img {
    width: 100%;
}

.panel_image + .overlay {
    background: -moz-linear-gradient(top,  rgba(0,34,105,0.68) 0%, rgba(56,132,210,0.68) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,34,105,0.68) 0%,rgba(56,132,210,0.68) 100%);
    background: linear-gradient(to bottom,  rgba(0,34,105,0.68) 0%,rgba(56,132,210,0.68) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad002269', endColorstr='#ad3884d2',GradientType=0 );
    color: #FFF;
    font-family: Arial, Helvetica, sens-serif;
    font-size: 16px;
    height: 36px;
    margin-top: -36px;
    padding: 10px 20px;
}

.fb-page,
.fb-page span,
.fb-page span iframe[style] {
    width: 100% !important;
}

/* Content panels */
#home_panels {
    margin: 5px 0 0 -1px;
}

#home_panels .overlay {
    background: url('../images/MiddleOverlay.png') bottom no-repeat;
    background-size: cover;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    height: 37px;
    letter-spacing: -1px;
    margin-top: -37px;
    opacity: 0.9;
    padding: 15px;
    text-align: right;
}

#home_panels ul li {
    padding-right: 2px;
}

/* Banner */
.cs_item_overlay {
    /*background: url('../images/overlay.png');*/
    min-height: 70px;
}

.overlay_content.overlay_content {
    background: rgba(0, 81, 151, 0.8);
    border-radius: 3px;
    color: #FFF;
    display: inline-block;
    font-size: 20px;
    margin-left: 20px;
    min-width: 23rem;
    padding: .7em;
}

.overlay_content h3 {
    font-size: 19px;
    font-weight: normal;
}

/** PRODUCTS MENU **/
#ct #sideLt a:hover, #ct #sideLt a:link, #ct #sideLt a:visited {
    color: inherit;
    text-decoration: none;
}

.products_menu ul li a, .products_menu .ul_level_1 li a, .products_menu .ul_level_1 li {
    color: #1f4894;
}

.products_menu ul li {
    background: #eee -webkit-linear-gradient(#F0F1F3, #C7CDD2);
    background: #eee linear-gradient(#F0F1F3, #C7CDD2);
    color: #1f4894;
    height: 34px;
}

.products_menu .ul_level_1 > li:hover {
    background-image: url('../images/side_nav_hover_slice.png');
    color: #fff;
}

.products_menu .ul_level_2 > li > a:not(.expand) {
    background-color: #6AAADD;
    color: #FFF !important;
}

.products_menu .ul_level_2 li {
    background-image: none;
}

.products_menu .ul_level_2 > li > a:not(.expand):hover {
    background: #024a8a;
}

.products_menu .ul_level_2 li a:before {
    content: '\bb\20';
}

/** FOOTER **/
.connect_with_us > h1 {
    display: none;
}

.footer > li > a {
    font-weight: bold;
    text-transform: uppercase;
}

.footer_body {
    background: url('../images/footer_background.png') repeat-x;
    background-size: 100% 100%;
    color: #1f4894;
    min-height: 246px;
    position: relative;
}

.footer_body a {
    color: #1f4894;
}

#footer .footer_copyright, #footer .footer_copyright a {
    background: #1f4894;
    color: #FFF;
    font-size: 11px;
}

.footer_copyright_right {
    text-transform: uppercase;
}

#footer h1 {
    font-weight: bold;
}

#footer_logo {
    clear: both;
}

#footer_logo:before {
    content: 'Huge thanks to the Clare Local Development Company Group';
    display: block;
    font-style: italic;
    margin-bottom: 1em;
}

.footer_social img{
    margin-left: .25em;
    max-width: 30px;
}

.footer_social span{
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 22px;
    font-size: 12px;
    font-weight: bolder;
}
.footer_custom_icons_1{
    max-width: 210px;
}


/* Products */
.checkout_message {
    background: #fce9ef;
    border: 1px solid #1f4894;
    border-radius: 5px;
    color: #1f4894;
    margin: 5px;
    padding: 5px;
}
.checkout_message_error {
    background: #F2DEDE;
    border: 1px solid #B94A48;
    border-radius: 5px;
    color: #B94A48;
    margin: 5px;
    padding: 5px;
}

.price_text span, .offer_price_text span {
    color: #FFF;
}

.products .successful {
    clear: both;
}

.products .thumb_product_info {
    background: #e7e8ec;
    color: #FFF;
    font-weight: bold;
    position: relative;
    width: 100%;
}

.products .thumb_product_title {
    color: #1f4894;
    text-transform: uppercase;
    font-weight: bold
}

.products #ProductDetailsForm #product_details #product_price {
    background: #1F4894;
    color: #fff;
    width: auto;
}

#product_details {
    padding-right: 3px;
}

#add_to_cart_button{
    background: #9CAFE2 -webkit-linear-gradient(#9CAFE2, #5384D3);
    background: #9CAFE2 linear-gradient(#9CAFE2, #5384D3);
    margin-left: 16px;
}

#purchase_button{
    background: #9DD403 -webkit-linear-gradient(#C0D90C, #9DD403, #3DB513);
    background: #9DD403 linear-gradient(#C0D90C, #9DD403, #3DB513);
}

#contact_us_button{
    background: #4A7FCF -webkit-linear-gradient(#4A7FCF, #172470);
    background: #4A7FCF linear-gradient(#4A7FCF, #172470);
}

#product_purchase button,
#contact_us_button {
    float: left;
    border-radius: 4px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    padding: 1px 6px;
    text-transform: uppercase;
    margin-right: 6px;
}

#product_description h1 {
    border-bottom: none;
    color: #1f4894;
    font-size: 12px;
    font-weight: normal;
}

#contact_us_button {
    margin: 0;
}

#ct #contact_us_button a {
    color: #fff;
    text-decoration: none;
}

#product_price {
    font-weight: bold;
    line-height: 16px !important;
}

/** ALERTS messages **/
.alert {
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #C09853;
    margin-bottom: 18px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.alert-danger, .alert-error {
    background-color: #FA991E;
    border-color: #EED3D7;
    color: #000000;
}

.alert-success {
    /*background-color: #DFF0D8;border-color: #D6E9C6;*/
    color: #468847;
}

.alert-info {
    border-color: #E8E4D1;
    color: #1f4894;
    clear: both;
    margin: 5px;
}

.alert .close {
    line-height: 18px;
    position: relative;
    right: -21px;
    top: -2px;
}

.close {
    color: #000000;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
}

.close:hover {
    color: #000000;
    cursor: pointer;
    opacity: 0.4;
    text-decoration: none;
}

.alert a, select {
    cursor: pointer !important;
}

.alert a {
    text-decoration: none !important;
}

/** Pagination **/
.paging-bl{clear:both;text-align:center;margin-bottom:10px;}
.paging{border:none;border-left:1px solid #1f4894;background:none;color:#1f4894;padding:0 3px 0 7px;}
.paging:first-child{border-left:none;}
.paging:focus{outline:none;}
.paging.active{text-decoration:underline;}

/** Member Area **/
#pb_members_area #pl_member_area_logout_button {
    background: url("../images/submit_btn.png") no-repeat scroll 0 0 transparent;
    color: #FFF;
}

#pb_members_area fieldset {
    background-color: #FFF9EB;
}

#pb_members_area legend {
    background-color: #FFF9EB;
    border-radius: 5px;
    color: #1f4894;
}

#pb_members_area {
    background-color: #FFF;
}

/* Accounts */
#pb_members_area .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #EB8F00;
}

#pb_members_area .ui-corner-all, #pb_members_area .ui-corner-top, #pb_members_area .ui-corner-right, #pb_members_area .ui-corner-tr {
    border-radius: 0;
}

#pb_members_area #tabs_ul {
    border-bottom: 1px solid #000;
}

#pb_members_area .ui-widget-content {
    background: none repeat scroll 0 0 transparent;
}

#pb_members_area #pl_save_account_changes {
    color: #1f4894;
}

/* Transactions */
#pb_members_area #pl_get_transactions_info {
    color: #1f4894;
}

#pb_members_area #pl_transaction_history_table tr:hover {
    background-color: #FFE45C
}

/* Login */
#pl_member_login_form fieldset {
    background-color: #FFF9EB;
}

#pl_member_login_form legend {
    background-color: #FFF9EB;
    border-radius: 5px;
    color: #1f4894;
}

#pl_member_login_form h2 {
    border-bottom: 1px solid #FFE298;
}

#pl_member_login_form #pl_login_frm_btn {
    color: #1f4894;
}

/** Contact us **/
.formrt .text-input, .formrt input[type=text], .formrt textarea {
    background: #F9F9F9;
    border: 1px solid #ccc;
    padding: 4px;
}

.formrt .messagearea, .formrt textarea {
    height: 60px;
}

.formrt #submit1 {
    background: url('../images/submit_btn_2.png');
    color: #FFF;
    font-size: 12px;
    height: 29px;
    margin-left: 0;
    width: 109px;
}

.formrt label {
    color: #1f4894;
}

.header_btn_wrapper {
    clear: both;
    float: right;
    margin-top: 1.5rem;
}


.header_btn_wrapper .phone_number{
    font-size: 15px;
    font-weight: bold;
    color: #004486;
    margin-right: 11px;
}

.header_btn_wrapper .phone_number img{
    margin-bottom: -4px;
    margin-right: 5px;
}

.booking_btn{
    background: url(../images/booking_button.png) no-repeat;
    background: -webkit-linear-gradient(#C0D90A, #36B413);
    background: linear-gradient(#C0D90A, #36B413);
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    min-width: 133px;
    padding: .4em .1em;
    text-align: center;
}

@media screen and (min-width: 960px) {
    #main_menu {
        height: 36px;
    }

    #main_menu ul li.level_1 > a {
        background-image: url(../images/main_menu_background_separator.png);
        background-position: right;
        background-repeat: no-repeat;
    }
    #main_menu ul li.level_1:last-child a {
        background-image: none;
    }

    #main_menu ul li.current {
        background-color: #6aaadd;
    }

    #main_menu ul ul li {
        background-color: #6aaadd;
    }

    #main_menu ul ul li:hover a {
        color: #FFF;
    }

}

@media screen and (max-width: 959px) {

    #main {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #sideLt {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }
    #ct {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    #main_menu {
        border-bottom: 1px solid #FFF;
    }

    #header_logo img{
        height: 100%;
    }

    #header #main_menu a#pull:after {
        border-top: 9px double #fff;
        border-bottom: 3px solid #fff;
    }

    .products_menu .expand {
        background: #FFF;
        border: 1px solid #CCC;
        border-radius: 10px;
    }

    .products_menu .expand:after {
        border-top-color: #6284c4;
    }

    .products_menu .expand.expanded:after {
        border-top-color: transparent;
        border-bottom-color: #6284c4;
    }

    .products_menu .ul_level_1 li {
        border-right: 1px solid #FFF;
    }

    .panels_lt .panels {
        clear: both;
    }
}

@media screen and (min-width: 480px) {
    .formrt .messagearea, .formrt .text-input, .formrt input[type=text], .formrt textarea {
        width: 315px;
    }

    #subscribetext {
        margin-left: 80px;
    }
}

@media screen and (max-width: 479px) {
    .formrt .text-input, .formrt input[type=text], .formrt textarea {
        max-width: 80%;
        min-width: 180px;
    }
}

#product_description ul li {
    margin: 0 16px;
}

#form-newsletter ul {
    padding: 0;
    margin: 0;
}

#form-newsletter ul li {
    list-style: none;
    margin: 5px 0;
}


#form-newsletter input[type='text'] {
    height: 24px;
    padding: 3px;
    width: 100%;
}

#form-newsletter ::-webkit-input-placeholder {
    color: #1f4894;
    opacity: .8;
}

#form-newsletter :-moz-placeholder {
    color: #1f4894;
    opacity: .8;
}

#form-newsletter ::-moz-placeholder {
    color: #1f4894;
    opacity: .8;
}

#form-newsletter :-ms-input-placeholder {
    color: #1f4894;
    opacity: .8;
}

#form-newsletter ul li input[type='submit'] {
    color: #FFFFFF;
    font-weight: bold;
    height: 29px;
    line-height: 30px;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
    width: 109px;
    font-size: 14px;
    cursor: pointer;
}

#submit-newsletter {
    background: transparent url('../images/submit_btn.png') no-repeat;
    border: none;
}

#submit_checkout_button {
    background: #6f91d0;
    background: linear-gradient(#6f91d0, #4164a5);
    border: none;
    border-radius: 4px;
    padding: 0 4px;
}

.products_menu .ul_level_1 > li:hover a {
    color: #fff;
}

.products_menu ul li:hover{
    background-color: #024a8a;
}

.checkoutTable thead tr{
    background-color: #6fabdf;
    border: 1px solid #C8CED3;
}
.checkoutTable th{
    color: #fff;
}
.checkoutTable th, .checkoutTable td{
    padding: 10px;
    text-align: center !important;
}

.product_line{
    border: 1px solid #C8CED3;
}

#CartDetailsBox input[type="text"], #CartDetailsBox select, #CartDetailsBox textarea{
    width: 100% !important;
    border: 1px solid #dadada;
}

.decrease_product_amount, .increase_product_amount{
    vertical-align: middle;
}

tr.product_line:nth-child(odd){
    background-color: rgba(226, 228, 232, 0.72);
}

.thumb_product_info {
    text-align: center;
}

.thumb_product_price:before{
    content: "Price:";
}

.thumb_product_price {
    color: #000;
}