/* @override http://alpha.websitecms.test/assets/default/css/style.css */

body {font-family:Arial ;color:#424242;background:url(../images/background.jpg) repeat;margin:0;line-height:1.3em;}
h1 {font-size:20px;font-family: 'OpenSansCondensedLightRegular'; color: #0187A0;}
h2 {font-size:19px;font-family: 'OpenSansCondensedLightRegular';color:#008599;border-bottom:#2e2e2e dotted 1px;border-top:#2e2e2e dotted 1px;padding:10px 0;}
h3 {font-size:18px;font-family: 'OpenSansCondensedLightRegular'; color:#033c62; }
h4 {font-size:19px;font-family: 'OpenSansCondensedLightRegular';border-bottom: 1px dotted #2E2E2E;color: #008599;padding: 10px 0;}
li{font-size: 12px}
a:link {text-decoration:none;color:#3BA9B9;}
a:visited{color: #00859A;}

ul.main_menu a:hover{color: #8ee6f4;}


@font-face{
    font-family: 'OpenSansCondensedLightRegular';
    src: url('../fonts/opensans-condlight.eot');
    src: url('../fonts/opensans-condlight.eot') format('embedded-opentype'),
    url('../fonts/opensans-condlight.woff') format('woff'),
    url('../fonts/opensans-condlight.ttf') format('truetype'),
    url('../fonts/opensans-condlight.svg#OpenSansCondensedLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'OpenSans-CondensedBold';
    src: url('../fonts/OpenSans-CondBold.eot');
    src: url('../fonts/OpenSans-CondBold.eot') format('embedded-opentype'),
    url('../fonts/OpenSans-CondBold.woff') format('woff'),
    url('../fonts/OpenSans-CondBold.ttf') format('truetype'),
    url('../fonts/OpenSans-CondBold.svg#OpenSans-CondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

#header-container {height:600px;width:100%;overflow:visible;background: url(../images/header-blue-background.jpg) no-repeat center top;}
#header-container2 {height:600px;width:100%;overflow:visible;background: url(../images/city.jpg) no-repeat center top;}
#header1 {margin:0 auto;height:600px;width:940px;position:relative;}

#logo img {float:left;border:none;outline:0;}

/*
Main menu
*/
#main-menu { height:39px;width:auto;background:#07171b;float:right; margin-top:17px;display:block;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; margin-bottom: 10px}
#main-menu ul {margin:0 0 0 5px;padding:0; z-index: 999}
#main-menu li {display:block;float:left;list-style-type:none;height:30px;width:auto;background:url(../images/main-menu-separator.png) no-repeat top right;padding:10px 15px 0 15px;}
#main-menu li.last {background:none;}
#main-menu li.phone {background: url(../images/blue-background-menu.png) no-repeat top right;color:#fff;padding:10px 7px 0;font-size: 16px;}
#main-menu li.phone span {color:#8ee6f4;}
#main-menu li a {font-size:14px;font-family: 'OpenSansCondensedLightRegular';}
/*
End main menu
*/

/*
Header index
*/
#header-slider {width:100%;clear:both;position:relative;margin-bottom: 10px;}
a.what-we-do {display:bock;width:194px;height:72px;background:url(../images/what-we-do-button.png) no-repeat;position:absolute;top:100px;left:730px;cursor:pointer;}
a.what-we-do:hover {background-position:0 -72px;}
/*
End header index
*/

/*
Header page
*/
#header-slider-page {width:100%;height:542px;clear:both;position:relative;}
#slider-inner {width:920px;padding:10px;height:270px;top:252px;display:block;position:relative;font-family: 'Open San Condensed' , sans-serif; font-weight:300}
#slider-inner h1 {font-size:20px;font-weight:bold;color:white;border-bottom: white dotted 1px;padding-bottom:10px;}
#slider-inner p {color:#cdcdcd;}
#welcome-to {width:45%;float:left;}
#slider-inner-slider{width:50%;float:right;}
#slider-inner-slider h1 {font-size:20px;color:#45aebe;border-bottom:#45aebe dotted 1px;margin-bottom:0px; line-height: 25px;}
#slider-inner-slider table {margin-top:5px;}
#slider-inner-slider td {background:url(../images/list-raque.png) no-repeat left 5px;padding-left:20px;padding-right:10px;font-weight:normal; letter-spacing: 1px;font-family:'Open San Condensed' , sans-serif; font-weight:300;}
a.what-we-do-page {display:bock;width:194px;height:72px;background:url(../images/what-we-do-button.png) no-repeat;cursor:pointer;float:left;clear:both;margin-left:-10px;}
a.what-we-do-page:hover {background-position:0 -72px;}
#icons {background:url(../images/icons.png) no-repeat;float:right;display:block;width:609px;height:62px;color:#45aebe;position:relative;margin-top:5px;}
.web-presence {position:absolute;top:20px;left:60px;font-family: 'OpenSansCondensedLightRegular', sans-serif;font-weight:300;font-size:18px;}
.strategy {position:absolute;top:20px;left:230px;font-family: 'OpenSansCondensedLightRegular', sans-serif;font-weight:300;font-size:18px;}
.startups {position:absolute;top:20px;left:360px;font-family: 'OpenSansCondensedLightRegular', sans-serif;font-weight:300;font-size:18px;}
.web-apps {position:absolute;top:20px;left:490px;font-family: 'OpenSansCondensedLightRegular', sans-serif;font-weight:300;font-size:18px;}

/* Custom test */
.slider-inner {width:920px;padding:10px;height:270px;top:252px;display:block;position:relative;display: none}
.slider-inner h1 {font-size:20px;color:white;border-bottom: white dotted 1px;padding-bottom:10px;font-weight: normal;}
.slider-inner p {color:#cdcdcd; font-size: 18px;font-family: 'OpenSansCondensedLightRegular'; line-height: 1.4em;}
.slider-inner-slider{width:50%;float:right;}
.slider-inner-slider h1 {font-size:24px;color:#45aebe;border-bottom:#45aebe dotted 1px;margin-bottom:0px;}
.slider-inner-slider table {margin-top:5px;}
.slider-inner-slider td {background:url(../images/list-raque.png) no-repeat left 5px;padding-left:20px;padding-right:10px;font-weight:700;}

/*
End header page
*/

/*
Header tabs - the three tabs between header and content
*/
#header-slider-tabs {display:block;width:940px;height:105px;margin-left:0px;background:url(../images/tabs-background.png) no-repeat;float:left;}
.tabs {display:block;width:260px;height:70px;float:left;padding:0 20px;margin-top:20px;}
.tab-top  {color:white;font-weight:bold;font-size: 16px;}
.tab-bottom {font-size:14px;color:#3ba9b9;}
.panels ul{margin: 0; padding-top: 0;padding-left: 5px; }
#header-slider-tabs .panels ul{float:left }
#header-slider-tabs .panels .overlay{display:block;width:291px;height:70px;float:left;padding:0 0 0 20px;margin-top:0px; color:#3BA9B9; font-size: 14px; font-family: 'OpenSansCondensedLightRegular'}
#header-slider-tabs .panels li{ list-style: none none none; list-style-type: none; float: left;}
/*
End header tabs
*/

/*
Main container
*/
#main {margin:0 auto;height:auto;width:940px;clear:both;}
#main p {color:#424242;font-size:12px;font:Arial;line-height:15px;}
#main h1 {color:#2e2e2e;border-bottom:#2e2e2e dotted 1px;padding-bottom:10px;font-family: 'OpenSansCondensedLightRegular';font-size:20px;}

#main .read-more,
#main .return_link {color:#008599;text-decoration:underline;font-size:14px;}
#main .strong{font-weight: normal;}
/*
End main container
*/

/*
Left column
*/
#sideLt {width:280px;height:auto;margin:10px 60px 20px 0px;float:left;}
#sideRt {width:280px;height:auto;margin:10px 0px 20px 60px;float:left;}
#slider_testimonials li { display: table-cell;float: none !important;vertical-align: bottom;}
#testimonials {border-bottom:#008599 solid 4px;}
#testimonials img {float:left;padding-right:10px;}
.light, .item_title {padding-top:20px;font-size:16px;color:#008599;font-family: 'OpenSansCondensedLightRegular';font-weight:bold;display:block;}
.dark {color:#002b48;font-family: 'OpenSansCondensedLightRegular';font-size:14px;font-weight:bold;}
#testimonials .lunch {color:#008599;font-family: 'OpenSansCondensedLightRegular';font-size:14px;font-weight:bold;border-top:#2e2e2e dotted 1px;padding:7px 0;width:100%;margin-top:10px;display:block;}
#testimonials .lunch a {color:#002b48;font-size: 13px;}


/*
* Our services
*/

#our-services .panels li{ list-style: none none none; list-style-type: none;}
#our-services {margin-bottom:30px;border-bottom:#008599 solid 4px;padding-bottom:5px;}
    #our-services table a {color:#008599;font-size:13px;font-family:'OpenSansCondensedLightRegular';}
#our-services td {background:url(../images/services-list.png) no-repeat left 3px;padding-left:20px;}

#latest-news {margin-bottom:30px;border-bottom:#008599 solid 4px;padding-bottom:5px;}
#latest-news ul#slider1 {width:250px;padding:0;margin:0;list-style-type:none;}
#latest-news ul#slider1 li {padding:0;margin:0;}
#latest-news .light {padding-top:0;width:250px;}
#latest-news .dark {border-bottom:#2e2e2e dotted 1px;padding-bottom:10px;display:block;width:250px;}
#latest-news .read-more {color:#008599;font-weight:bold;text-decoration:underline;}
.item_summary { font-size: 12px; line-height: 1.2em }

#what-we-do {margin-bottom:30px; }
#what-we-do ul{margin-bottom:30px; list-style-type:none; padding-left: 0}
#what-we-do li {width:260px;display:block;
    background-image:url(../images/what-we-do-arrow.png), -webkit-gradient(linear, 0 0, 0 bottom, from(#6e9aa0), to(#058699));
    background-image:url(../images/what-we-do-arrow.png), -webkit-linear-gradient(#6e9aa0, #058699);
    background-image:url(../images/what-we-do-arrow.png), -moz-linear-gradient(#6e9aa0, #058699);
    background-image:url(../images/what-we-do-arrow.png), -ms-linear-gradient(#6e9aa0, #058699);
    background-image:url(../images/what-we-do-arrow.png), -o-linear-gradient(#6e9aa0, #058699);
    background-image:url(../images/what-we-do-arrow.png), linear-gradient(#6e9aa0, #058699);
    -pie-background: linear-gradient(#6e9aa0, #058699);
    behavior: url(../../../../../../../Downloads/Ideabubble/PIE.htc);
    background-repeat:no-repeat;
    padding:7px 0 7px 20px;margin-bottom:5px;}
#clients ul#slider0 {width:282px;padding:0;margin:0;list-style-type:none;}
#clients ul#slider0 li {padding:0;margin:0;height:200px;}
/*
End left column
*/

/*
Right column
*/
#ct {width:600px;height:auto;margin-top:10px;margin-bottom:20px;float:left;}
#latest-work-slider {margin-bottom:30px;}
#latest-work-slider ul#slider2 {width:600px;padding:0;margin:0;list-style-type:none;}
#latest-work-slider ul#slider2 li {padding:0;margin:0;}
.strong-underline {font-weight:bold;text-decoration:underline;}
a.inline-light-blue {color:#008599;text-decoration:underline;font-weight:bold;font-family:Arial;}

#about-us {margin-bottom:30px;}
blockquote {color:#008599;font-size:16px;font-family: 'OpenSans-CondensedBold';background:url(../images/cloud.png) no-repeat left top;margin:20px 0;padding-left:70px;min-height:70px;}
#about-us ul {list-style-type:none;margin-left:30px;}
#about-us ul li {background:url(../images/list-raque.png) no-repeat left 5px;color:#00375c;font-size:13px;padding-left:30px;font-weight:bold;}
#about-us ul.custum-list {list-style-type:none!important;margin-left:0px;}
#about-us ul.custum-list li {background:none;}
h1.dark-blue {color:#033c62!important;font-family: 'OpenSansCondensedLightRegular';font-size:17px;border-bottom:#2e2e2e dotted 1px;}
.list-number {color:#008599;padding-right:25px;}
#about-us img {float:left;padding-right:20px;}

#contact-form {width:560px;padding:20px;
    background: #00375c;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#00375c), to(#0a4973));
    background: -webkit-linear-gradient(#00375c, #0a4973);
    background: -moz-linear-gradient(#00375c, #0a4973);
    background: -ms-linear-gradient(#00375c, #0a4973);
    background: -o-linear-gradient(#00375c, #0a4973);
    background: linear-gradient(#00375c, #0a4973);
    -pie-background: linear-gradient(#00375c, #0a4973);
    behavior: url(../../../../../../../Downloads/Ideabubble/PIE.htc);}
#contact-form table {margin-left:30px;color:#fff;font-size:13px;}
#contact-form label {width:100px;display:block;}
#contact-form .button-send {background:url(../images/submit.png) no-repeat;width:120px;height:27px;text-indent:-9999px;cursor:pointer;text-align:left;margin-top:10px;}
#contact-form h1 {margin-top:0;color:#fff;border-bottom:#fff dotted 1px;}
/*
End right column
*/

/*
Menu
*/
.main_menu a{
    color:#fff;
}

/*
Footer
*/
#footer {width:100%;height:auto;overflow:hidden;background:#000;clear:both;-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;font-family: 'OpenSansCondensedLightRegular';color:white;
    border-radius: 5px 5px 0 0; (top-left, top-right, bottom-right, bottom-left);
    behavior: url(../../../../../../../Downloads/Ideabubble/PIE.htc);}
#footer h1 {color:#757d7d;border-bottom:#757d7d dotted 1px;padding-bottom:10px;}
#footer ul {padding:0;list-style-type:none;font-size:14px;}
#footer li {padding-left:20px;background:url(../images/list-raque.png) no-repeat left 7px;}
#footer li a{color:#3ba9b9;}

.footer-column {
    float:left;
    height:auto;
    margin-left:20px;
    width: 210px;
}

.footer-column h1 {
    font-family: 'OpenSansCondensedLightRegular', sans-serif;
    font-size:18px;
    font-weight:300;
    text-transform: uppercase;
}

.social-media-icons img {
    border: none;
    margin-right: 5px;
    outline: 0;
}

#latest-videos a{color: #757D7D}
#latest-videos h1{padding-bottom: 8px;}
#contact p {color:white;font-size:14px;}
#copyright {width:900px;margin-left:20px;border-top:#757d7d dotted 1px;display:block;height:30px;clear:both;padding:10px 0;color:#3ba9b9;}
input {width:200px;height:35px;border:none;margin-bottom:10px;padding-left:10px; }
#footer input.submit {background:url(../images/sign-up-button.png) no-repeat;width:120px;height:27px;border:none;text-indent:-9999px;cursor:pointer;margin-bottom:20px; color: #00879F}
.left {float:left;}
.right {float:right;}
/*
End footer
*/

#background-header{background-color: #000000}

/***
* BxSlider
**/
.bx-wrapper .bx-prev { height: 18px; position: absolute; right: 22px; text-indent: -999999px; top: -43px; width: 18px; z-index: 999;margin-top: auto;}
.bx-wrapper .bx-prev{ background: url("../images/blue_prev.png") no-repeat scroll 0 0 transparent;left: auto;}
.bx-wrapper .bx-next{background: url("../images/blue_next.png") no-repeat scroll 0 0 transparent;left: auto;}
.bx-wrapper .bx-next:hover{background-position: 0 0;}
.bx-wrapper .bx-next {height: 18px;position: absolute;right: 0;text-indent: -999999px;top: -43px;width: 18px;z-index: 999;}

.bx-wrapper .bx-controls-direction a{top: -25px;}
.bx-wrapper .bx-viewport{background-color: transparent;border: medium none;box-shadow: none;position:static !important;}

/***
* Main Menu second level dropdown
**/
#main-menu ul.level2{display: none;position: absolute;margin-left: -15px;margin-top: 7px;background: none repeat scroll 0 0 #07171B;}
#main-menu ul.level2:hover{display: block;}
#main-menu li ul.level2 li{clear: both;background: none repeat scroll 0 0 transparent;}
#main-menu li ul.level2 li a{cursor: pointer;}
#header2 {margin:0 auto;width:940px;position:relative;}
#header-slider{min-height:0px;}
#header-slider{
    overflow: hidden;
}
/** Hardcode could be calculate with JS in banners views **/
.banners{
    width: 940px;
    position: relative;
    left: 50%;
    margin-left: -470px;
}
.light, .item_title{padding-top:0px;}
.item_image{float:right;}
.signature{font-weight: bold; font-size:14px;}
.feed_item_tile .item_image img{
    width:99px;
    height:51px;
    text-align: right;
    right:0px;
}
#slider_testimonials{
    padding:0px;
    margin:0px;
}
#latest-testimonials .bx-viewport{
    left:0px;
}
#latest-testimonials .bx-pager{
    display: none;
}

.item_image_testimonial_feed{
    width:auto !important;
}
#testimonials p{
    margin-top:26px;
}
/**
*What we do... / Panel
**/
#what-we-do p{
    margin: 2px;
    color: #FFFFFF;
}
#footer div > ul{
    margin-top: 12px;
}
#footer div > ul > li{
    padding:0px;
    background: none;
}
/*STYLES.HTML CHANGES*/
table{
    border-spacing: 0px;
    font-size:13px;
}
table td{
    padding:0px;
    padding-left:3px;
}
table, th, td{

}
.overlay table,.overlay  th,.overlay  td{
    border: 0px;
}
#slider-inner-slider table,#slider-inner-slider  th,#slider-inner-slider  td{
    border: 0px;
}

.panels strong span{
    font-size:18px !important;
    font-family:'OpenSansCondensedLightRegular' !important;
}
.home-banner-styling{
    color:#FFF;
}
.home-banner-styling{
    color:#FFF;
}
.email_anti_hover a:hover{
    color:#00375c;
}
#imageContainer{
	margin:0;
	padding: 0;
	list-style: none;
}
.checkout_form_holder_first,#accordion{width:300px;float:left;margin-bottom:0px; }
.checkout_form_holder_first .form-block{float:left;padding-left:0px;padding-right:40px;}
.checkout_form_holder_second .form-block{float:left;padding-left:10px;}
.checkout_form_holder_first .form-block .txtbox,.checkout_form_holder_first .form-block .txtarea {width:100px;}
.checkout_form_holder_second .form-block .txtbox,.checkout_form_holder_second .form-block .txtarea {width:323px;}
.checkout_form_holder_second .form-block a{color:#5a9d19;text-decoration: none;}
.checkout_form_holder_second .form-block a:hover{text-decoration: underline;}

#realex .form-block label{width:95px; }

.checkout_page_form_header{float:left;width:300px; }
.accordion{float:right;width:300px;}

#signupCheckbox,#terms{
    width: 15px;
}

#paynow-form {
    /*background: linear-gradient(#00375C, #0A4973) repeat scroll 0 0 transparent;*/
    background-color: #ffffff;
    padding: 20px;
    padding-bottom: 50px;
    width: 560px;
    color: #003760;
    font-size: 13px;
}
#submit-payment{
    background: url("../images/submit.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 27px;
    margin-top: 10px;
    text-align: left;
    text-indent: -9999px;
    width: 120px;
    float:left;
    position:relative;
    top: -11px;
    left: 70px;

}

#paynow-form{float:left;width:600px}

#paynow-form h1 {
    border-bottom: 1px dotted #FFFFFF;
    color: #00879F;
    margin-top: 0;
}

input[type=text], textarea{
    background-color: #E5E5E5;
    border-radius: 5px;
    resize: none;
}

textarea{
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#address {
    width: 200px;
    height: 77px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

#comments {
    width: 520px;
    height: 67px;
}

#payment_total, #payment_ref {
    background-color: #033c62;
    color: white;
    font-size: 1.5em;
}

/*END STYLES.HTML CHANGES*/

#display_message{
    color:#ff9900;
    background-color:#000000;
    font-size: 12px;
}

#display_message #inner_text{
    width: 70%;
    margin: 0 auto;
    text-align: left;
}

#display_message a{
    font-size: 12px;
    color: #FFFFFF;
    text-decoration: underline;
    margin-right: 3px;
}

#display_message a:hover{
    color: #00859A;
}

#got_it{
    color:#ffffff;
    text-align: center;
    border-style: none;
    -moz-border-radius: 15px;
    border-radius: 4px;
}

#got_it:hover{
    color:#ddddee;
}

select{
    width: 210px;
    height: 35px;
    border-style: none;
    background-color: #E5E5E5;
    padding-left: 10px;
    padding-top: 9px;
    text-align: left;
    -webkit-appearance: none;
    border-radius: 5px;
    border: medium none;
    margin-bottom: 10px;
}

#expiry select{
    width: 70px;
    margin-right: 10px;
    margin-left: 4px;
    padding-left: 3px;
    text-align: center;
}

#checkboxes{
    display: table-column;
    float: left;
    position: relative;
    margin-top:0px;
    padding-top: 0px;
}

#checkboxes input[type=checkbox]{
    vertical-align: middle;
    background-color: #E5E5E5;
}

#checkboxes p{
    font-size: 12px;
    margin-bottom: 0px;
}
#checkboxes p a{
    font-size: 12px;
    color: #00899D;
}

#paymentIcons{
    position: relative;
    top: 470px;
    left: -300px;
}

#ct a:hover{
    color: #0091A4;
}

.recaptchatable .recaptcha_image_cell, #recaptcha_table {
    background-color: white !important; /*reCaptcha widget background color*/
}

#recaptcha_table {
    border-color: white !important;/* reCaptcha widget border color*/
    text-align: center;
}

#recaptcha_response_field {
    border-color:#E5E5E5!important;/* Text input field border color '' */
    background-color:#E5E5E5!important;/* Text input field background color ''*/
}

#recaptcha_area {
    margin-top: 30px;
}
#recaptcha_widget_div {
    text-align: center;
}
#checkboxes input{
        height:10px;
}
#ideabubble_layout5 #ct{float:none;width:auto;}

/* Account service payment */
.accessible-hide{display:none;}
.check_icon, .cross_icon{display:inline-block;font-size:0.1px;height:18px;width:18px;}
.check_icon{background:url('images/check.png') no-repeat;}
.cross_icon{background:url('images/cross-icon.png') no-repeat;}

.packages_table{border-collapse:separate;border-spacing:10px 0;}
.packages_table .option_fields{color:#3ba9b9;}
.packages_table .option_fields th{text-align:right;text-transform:uppercase;}
.packages_table .plugin_fields td:empty{background:none;}
.packages_table th[scope="col"]{color:#3ba9b9;text-transform:uppercase;}
.packages_table tbody.pricing td{background:#3ba9b9;color:#FFF;}
.packages_table td:nth-child(2), .packages_table td:nth-child(3), .packages_table td:nth-child(4){text-align:center;width:110px;}
.packages_table td:nth-child(2){background:#fffacd;}
.packages_table td:nth-child(3){background:#f5fffa;}
.packages_table td:nth-child(4){background:#add8e6;}
.packages_table button{border:none;background:url('../images/blue-background-menu.png');border-radius:5px;color:#FFF;cursor:pointer;min-height:25px;min-width:80px;}
.packages_table h3{margin:0;}

.service-form{background:#FFF;border:1px solid #AAA; padding:10px;}
.service-form .action_buttons{margin-left:105px;}
.service-form .action_buttons button, .service-form .action_buttons input[type="submit"]{cursor:pointer;display:inline-block;margin:5px;}
.service-form .error_message {background:pink;border:1px solid #F00;color:#333;margin:5px 0;padding:2px 15px 2px 5px;position:relative;}
.service-form .error_message .dismiss{color:gray;cursor:pointer;position:absolute;;top:4px;right:5px;}
.service-form .forgot_password_link{cursor:pointer;display:block;font-size:13px;}
.service-form .form-block{margin-bottom:10px;width:43%;}
.service-form .form-block:nth-of-type(odd){clear:left;float:left;}
.service-form .form-block:nth-of-type(even){clear:right;float:right;}
.service-form .form-block+button[type="submit"], .service-form #recaptcha_widget_div{clear:both;display:block;}
.service-form .form-label{clear:left;float:left;font-size:12px;width:100px;}
.service-form .form-label:after{content:':';}
.service-form .hide{position:absolute!important;top:-9999px!important;left:-9999px!important;}
.service-form .hide + textarea{width:230px;}
.service-form [disabled], .service-form[readonly]{background:#EEE!important;cursor:not-allowed;}
.service-form input{height:auto;width:auto;}
.service-form input[type="text"], .service-form input[type="password"], .service-form select{border:1px solid #AAA;border-radius:0;height:auto;margin:0 5px 5px;padding:5px;}
.service-form input[type="text"], .service-form input[type="password"]{background:#FFF;width:200px;}
.service-form input[type="submit"]{border:2px outset buttonface;clear:both;display:block;font-weight:bold;margin-left:105px;width:auto;}
.service-form input[type="submit"]:active{border-style:inset;}
.service-form select{-webkit-appearance:menulist;height:25px;}
.service-form textarea{background:#FFF;border:1px solid #AAA;border-radius:0;height:60px;padding:5px;width:200px;}
.service-form:after{clear:both;content:'';display:table;}
.service-tabs{margin-bottom:-1px;position:relative;z-index:2;}
.service-tabs li{background:#FFF;border:1px solid #AAA;display:inline-block;margin: 0 5px 0 0;padding:5px;}
.service-tabs li:first-child{border-left:none;}
.service-tabs li.active{border-bottom-color:#FFF;}
.service-tabs ul {margin:0;padding:0;border-left:1px solid #AAA;}
.service-tab-pane{background:#FFF;border:1px solid #AAA;display:none;padding:5px;position:relative;z-index:1;}
.service-tab-pane.active{display:block;}
.service-tab-pane > .service-form{border:none;}

.zebra{border-collapse:collapse;border-spacing:0;margin:5px;width:90%;width:-webkit-calc(100% - 10px);width:-moz-calc(100% - 10px);width:calc(100% - 10px);}
.zebra tbody tr:nth-child(odd){background:#EEE;}
.zebra td, .zebra th{border:1px solid #AAA;padding:.2em .5em;text-align:left;}
.zebra thead{background:#DDD;}
#cc_ExpMM, #cc_ExpYY{width:60px;}
#service_checkboxes{margin:5px;}
#service_payment_comments{margin:5px;width:555px;}
#update_customer_and_pay,#submit_payment, #tab-contact_details [type="submit"]{background:url('../images/blue-background-menu.png');background-size:111%;border:none;border-radius:5px;clear:both;color:#FFF;cursor:pointer;display:block;font-size:14px;margin:5px;min-height:25px;min-width:80px;}
#update_customer_and_pay:after,#submit_payment:after, #tab-contact_details [type="submit"]:after{content:'\a0\bb';}