redirect 301 http://blog.ideabubble.ie /
redirect 301 /blog/index.aspx /
redirect 301 /Login.aspx /
redirect 301 /login.aspx /
redirect 301 /index.aspx /home.html
redirect 301 /about.aspx /about-us.html
redirect 301 /services.aspx /services.html
redirect 301 /Clients.aspx /customer-testimonials.html
redirect 301 /contact.aspx /contact.html
redirect 301 /Contact.aspx /contact.html
redirect 301 /Disclaimer.aspx /home.html
redirect 301 /copyright.aspx /home.html